*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins';
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: whitesmoke;
    padding: 5px;
    display:flex ;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: unset;
    padding: 0;
    justify-content: left;
}

nav ul :hover{
    background: gray;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 20px;
    transition: background 1s, transform 1s;
    text-align: center;
}


section{
    display:flex ;
    align-items: center;
    justify-content: center;
    gap: 5em;
    color: white;
}
.box{
    max-width: 600px;
}

h1{
    font-size: 4em;
}

p{
    font-size: 1.2em;
}

iframe{
    border-radius: 2em;
    border: none;
    width: 500px;
    height: 500px;
    opacity: 0.7;
    transition: 0.3 ease-in-out;
}

iframe:hover{
    transform: scale(1.1);
    opacity: 1;

}

/*making responsive*/
@media(max-width:720px){
    .section{
        flex-direction: row;
        margin: auto;
        width: 90%;

    }
}