*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins';
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    color: white;
}
.box{
    max-width: 600px;
}

h1{
    font-size: 5em;
}

p{
    font-size: 1.2em;
}

iframe{
    border-radius: 50%;
    border: 5px solid blue;
    width: 500px;
    height: 500px;
    transition: 0.3 ease;
}

